.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
  }
  
  .svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
  }

.tooltip {
    opacity: 0;
    background-color: rgb(170, 204, 247);
    padding: 5px;
    border-radius: 4px;
    transition: opacity 0.2s ease;
  }