.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
  }
  
  .svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
  }

  .tooltip {
    position: fixed;
    opacity: 100;
    pointer-events: none;
    background: #eee;
    max-width: 200px;
  }

  .axis path {
    display: none;
  }
  
  .axis line {
    stroke-opacity: 0.3;
    shape-rendering: crispEdges;
  }